circle.nodes {
    stroke: #fff;
}

circle._1:hover {
    cursor:pointer;
}

.labels {
  font-size: 23px;
  fill: black;
}

a.active.nav-link {
    color: #17a2b8 !important;
}

.nav-tabs {
  padding-top: 15px;
}

.nav-link {
    color: rgb(117,102,160);
}

.right {
  width: 50%;
  float: left;
  padding-top: 50px;
}

.middle {
  width: 50%;
  float: left;
}

#title {
  padding-left: 20px;
}

#searchLinkagesNP {
  padding-top: 50px;
}

#searchLinkagesFac {
  padding-top: 50px;
}

.or {
  padding-top: 30px;
}
