circle.nodes {
    stroke: #fff;
}

circle._1:hover {
    cursor:pointer;
}

.labels {
  font-size: 23px;
  fill: black;
}

a.active.nav-link {
    color: #17a2b8 !important;
}

.nav-tabs {
  padding-top: 15px;
}

.nav-link {
    color: rgb(117,102,160);
}

.right {
  width: 600px;
  float: left;
  padding-top: 20px;
}

.middle {
  width: 850px;
  float: left;
}

#title {
  padding-top: 10px;
  font-size: large;
}

#searchLinkagesNP {
  padding-top: 20px;
  padding-bottom: 60px;
}

#searchLinkagesFac {
  padding-top: 20px;
  padding-bottom: 60px;
}

.or {
  padding-top: 15px;
}

#tableNP {
  width: 600px;
  height: 350px;
  overflow-y: auto;
}

#tableNP thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background:#eee;
}

#tableF {
  width: 600px;
  height: 350px;
  overflow-y: auto;
}

#tableF thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background:#eee;
}

#facNote {
  padding-left: 40px;
}

#npNote {
  padding-left: 30px;
}
