circle.nodes {
    stroke: #fff;
}

circle._1:hover {
    cursor:pointer;
}

.labels {
  font-size: 23px;
  fill: black;
}

a.active.nav-link {
    color: #17a2b8 !important;
}

.nav-tabs {
  padding-top: 15px;
}

.nav-link {
    color: rgb(117,102,160);
}
